@font-face {
    font-family: QuicksandBook;
    src: url(./fonts/Quicksand_Book.otf);
}

@font-face {
    font-family: QuicksandBookBold;
    src: url(./fonts/Quicksand_Bold.otf)
}

* {
    font-family: QuicksandBook;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100%;
    background: linear-gradient(rgba(24, 183, 247, 0.8) 0%, rgb(216, 239, 252) 50%, rgb(228, 245, 253) 80%, rgb(255, 255, 255) 100%);
    background:-webkit-linear-gradient(rgba(24, 183, 247, 0.8) 0%, rgb(216, 239, 252) 50%, rgb(228, 245, 253) 80%, rgb(255, 255, 255) 100%);
    background:-moz-linear-gradient(rgba(24, 183, 247, 0.8) 0%, rgb(216, 239, 252) 50%, rgb(228, 245, 253) 80%, rgb(255, 255, 255) 100%);
    background:-o-linear-gradient(rgba(24, 183, 247, 0.8) 0%, rgb(216, 239, 252) 50%, rgb(228, 245, 253) 80%, rgb(255, 255, 255) 100%);
    background:-ms-linear-gradient(rgba(24, 183, 247, 0.8) 0%, rgb(216, 239, 252) 50%, rgb(228, 245, 253) 80%, rgb(255, 255, 255) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    background-color: white;
    min-height: 9rem;
    padding-top: 1.5rem;
    padding-left: 5rem;
}

.location {
    font-weight: 500;
    min-height: 30px;
}

.further-location-details {
    font-size: 0.9rem;
    margin-top: 0;
    font-weight: 500;
    margin-bottom: 1rem;
}

.forecast-title {
    margin-top: 3.5rem;
    font-size: 1.1rem;
    margin-left: auto;
    text-decoration: underline;
    text-underline-offset: 0.2rem;
    text-decoration-color: rgb(30, 112, 236);
    text-decoration-thickness: 2px;
}

.search {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 60px;
    margin: auto;
    font-size: 1.1rem;
    padding-left: 0.5rem;
    height: 40px;
    width: 70%;
    border: 1px solid rgb(161, 161, 161);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    /* margin-right: 5rem; */
}

.enter {
    position: absolute;
    right: 13.5%;
    margin: auto;
    background-color: rgb(66, 195, 255);
    cursor: pointer;
    height: 40px;
    padding: 0;
    width: 20%;
    width: 60px;
    margin: 0;
    border: 1px solid rgb(161, 161, 161);
    border-left: none;
    font-size: 1.1rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* this stops a thick border from appearing on focus */
.search:focus {
    outline: none;
}

.enter:hover {
    background-color: rgb(70, 218, 255);
    border: none;
}

hr {
    border: 1px solid rgb(156, 156, 156);
}
main {
    padding-left: 5rem;
    position: relative;
}

.current-conditions {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 3rem;
    margin-right: 40vw;
    min-width: 750px;
    min-height: 100px;
    background-color: white;
    /* align-items centers vertically */
    align-items: center;
    gap: 1em;
    /* this padding is for the top and bottom of the whole div */
    padding: 1em 0 1em 0;
    box-shadow: 0 0 8px 2px rgb(206, 206, 206);
    border-radius: 5px;
}

/* this gives padding to each column on the left and right */
.current-conditions * {
    padding: 0 0.1em 0;
    align-self: center;
    justify-self: center;
    place-items: center;
}

.main-title {
    font-family: QuicksandBookBold;
    grid-column: 1 / -1;
    justify-self: unset;
    padding-left: 1em;
}

.weather-icon {
    padding-left: 1.5em;
    grid-column: 1 / 2;
}

.temp {
    grid-column: 2 / 3;
    font-size: 2.5rem;
    display: grid;
    grid-template-columns: (2, 1fr);
    grid-template-columns: min-content 1fr;
}

.temp-icon {
    padding-left: 0.5em;
    padding-right: 0;
}

.current-temp {
    padding-left: 0.2rem;
    place-items: center;
}

.above-zero {
    color: rgb(206, 2, 2);
}

.below-zero {
    color: rgb(0, 116, 224);
}

.feels-like {
    grid-column: 3 / 4;
    justify-self: center;
    font-size: 1em;  
}

.raining {
    grid-column: 4 / 5;
    font-size: 2em;
    display: grid;
    grid-template-columns: (2, 1fr);
}

.is-raining-icon {
    padding-left: 0.3em;
    padding-right: 0;
}

.is-raining {
    font-size: 2.5rem;
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    color: rgb(0, 116, 224);
    letter-spacing: -2px;
}

.is-raining-mm {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    padding-left: 2.7rem;
    padding-top: 1rem;
    font-size: 0.7rem;
    color: rgb(0, 116, 224);
}

.double-digit {
    padding-left: 4.8rem;
}

.triple-digit {
    padding-left: 6.2rem;
}

.windy {
    grid-column: 5 / 6;
    font-size: 1.1em;
    display: grid;
    grid-template-columns: (3, 1fr);
}

.is-windy-icon {
    grid-column: 1 / 2;
}

.wind-speed {
    grid-column: 2 / 3;
    font-size: 0.8em;
    padding-left: 0.3em;
    min-width: 50px;
}

.wind-direction {
    grid-column: 3 / 4;
    padding-right: 0.4em;
    font-size: 1.6rem;
    padding-bottom: 0.3em;
    font-weight: bold;
}

.popular-th {
    font-size: 1.6rem;
    padding-bottom: 1.5rem;
    font-family: QuicksandBookBold;
}

.popular {
    max-width: 300px;
    min-width: 80px;
    font-size: 1.2rem;
    border-bottom: 1px solid rgb(161, 161, 161);
}

.locations-table {
    margin-top: 6rem;
    width: 92vw;
    max-width: 800px;
    /* border-collapse gets rid of the margins between the columns, so there are no gaps in the border, it is just one long line */
    border-collapse: collapse;
    margin-right: auto;
    margin-left: 6rem;
}

.table-section {
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 6rem;
}

.forecast-table {
    margin-top: 2rem;
    width: 100%;
    border-collapse: collapse;
}

.upcoming-days {
    padding-top: 0.7rem;
}

.upcoming {
    padding-bottom: 0.5rem;
}

.table-title {
    margin-top: 6rem;
    text-align: center;
    font-size: 1.2rem;
    font-family: QuicksandBookBold;
}

tr {
    height: 75px;
}

.tr-header {
    height: 25px;
    margin-top: 2em;
}

th {
    font-size: 1.1rem;
    font-weight: 500;
    border-bottom: 1px solid rgb(172, 169, 169);
    border-collapse: collapse;
}

td {
    text-align: center;
    padding: 0;
    border-bottom: 1px solid rgb(172, 169, 169);
}

.td-small {
    /* border-bottom: none; */
    padding-bottom: 1rem;
}

.th-small {
    border: none;
}

.left-align {
    text-align: left;
    padding-left: 1rem;
}

.max-min {
    color: rgb(206, 2, 2);
}

.td-rain, .td-wind, .max-min {
    font-size: 1rem;
    color: rgb(0, 116, 224);
}

.hide {
    display: none;
}


@media screen and (max-width: 1130px) {
    th {
        font-size: 1rem;
    }

    .locations-table {
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    main {
        padding-left: 0;
    }

    .current-conditions {
        position: relative;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 80vw;
    }

    .table-section {
        margin-left: 4rem;
        margin-right: 4rem;
    }
}


@media screen and (max-width: 1000px) {
    .current-conditions {
        grid-template-columns: min-content, 1fr;
        min-width: 60vw;
        gap: 0.5em;
    }

    .weather-icon {
        padding-left: 0.5em;
    }
    
    .temp {
        font-size: 2rem;
        padding: 0;
    }
    
    .temp-icon {
        padding-left: 0;
        padding-right: 0;
    }
    
    .current-temp {
        padding-left: 0;
    }

    .table-section {
        margin-left: 3rem;
        margin-right: 3rem;
    }
}


@media screen and (max-width: 775px) {
    .locations-table {
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .current-conditions {
        grid-template-columns: repeat(3, 1fr);
        gap: 1em;
        row-gap: 2em;
    }

    .weather-icon {
        grid-column: 1 / 2;
        padding-left: 0.5em;
    }
    
    .temp {
        grid-column: 2 / 3;
        font-size: 3.5rem;
        grid-row: 2 / 4;
    }
    
    .temp-icon img {
        height: 40px;
        width: 20px;
    }

    .current-temp {
        padding-left: 0.2rem;
    }
    
    .feels-like {
        grid-column: 1 / 2;
    }
    
    .raining {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }

    .windy {
        grid-column: 3 / 4;
    }

    .left-align {
        padding-left: 0;
        text-align: center;
    }

    .seven-day-overview {
        width: 100px;
    }

    .forecast-table {
        width: 94vw;
        margin-left: auto;
        margin-right: auto;
    }

    .table-section {
        margin-left: auto;
        margin-right: auto;
    }

    .popular.left-align {
        text-align: left;
        padding-left: 1.5rem;
    }
}

@media screen and (max-width: 650px) {
    .popular {
        font-size: 1rem;
    }
}

@media screen and (max-width: 580px) {
    .popular {
        font-size: 0.95rem;
    }

    .popular.left-align {
        width: 190px;
    }
    
    .current-conditions {
        grid-template-columns: repeat(2, 1fr);
        width: 70vw;
    }

    .weather-icon {
        grid-column: 1 / 2;
        padding-left: 1.5em;
    }
    
    .temp {
        grid-column: 1 / 2;
        font-size: 2.5rem;
        grid-row: 3 / 4;
    }
    
    .feels-like {
        grid-column: 2 / 3;
    }
    
    .raining {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    .windy {
        grid-column: 1 / -1;
    }

    .upcoming-days img {
        width: 42px;
        height: 42px;
    }

    .seven-day-overview {
        display: none;
    }

    .empty {
        display: none;
    }

    .forecast-table {
        width: 98vw;
    }

    .upcoming {
        padding-bottom: 1rem;
    }

    .date-today, .date-tomorrow {
        font-size: 0.9rem;
    }

    .td-wind, .th-wind {
        display: none;
    }
}


@media screen and (max-width: 485px) {
    .popular-th {
        font-size: 1.4rem;
    }

    .popular.left-align {
        max-width: 190px;
    }

    .current-conditions {
        width: 88vw;
        margin-top: 1.5rem;
    }

    .is-raining-icon {
        padding: 0;
    }

    .double-digit {
        padding-left: 4.8rem;
    }
    
    .wind-speed {
        font-size: 1em;
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .max-min, .td-rain {
        font-size: 0.85rem;
    }

    .date-today, .date-tomorrow {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 430px) {
    .popular {
        font-size: 0.83rem;
        min-width: 60px;
    }
    .popular.left-align {
        padding-left: 0.5rem;
    }
}

@media screen and (max-width: 370px) {
    .td-img img {
        width: 42px;
        height: 42px;
    }
}